<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>go-ji</title>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <p>Hello, {{ name }}!</p>
    <form action="{{ url_for("create_link") }}" method="POST">
      <label for="slug">slug</label>
      <input type="text" id="slug" name="slug" />
      <label for="url">url</label>
      <input type="text" id="url" name="url" />
      <input type="submit" value="Create Link">
    </form>
    <table>
      <tr><th>short</th><th>clicks</th></tr>
      {% for short in top_shorts %}
      <tr>
        <td><a href="{{ url_for('go', slug=short.slug) }}">{{ short.slug }}</a></td>
        <td>{{ short.clicks }}</td>
      </tr>
      {% endfor %}
    </table>
    {% if hot_reload %}
      {% include "hot_reload.html" %}
    {% endif %}
  </body>
</html>
